---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterNamespace: false
    AfterStruct: true
    AfterUnion: true
    AfterEnum: false
    AfterFunction: true
    AfterControlStatement: false
BreakConstructorInitializers: BeforeComma
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
ConstructorInitializerIndentWidth: 4
ColumnLimit: 120
